# Project Submission

**Please use this notebook for your submission.**

Make sure to fill out all the required fields and to answer all the questions.

At the end of this project, you will have answered the following questions:

1. What is the average number of goals for the home team?
2. What is the average number of goals for the away team?
3. What is the country with the highest overall home score?
4. What are the top 3 type of tournaments?
5. Which country has the highest overall FIFA World Cup goals?


**Submission Requirements:**

- Make sure that you run all cells with code in your notebook before submitting.
- You can add additional cells of code if you want, but make sure to clean up your notebook, and only leave the code required to answer the questions.

## Step 1: Getting Started

You will mainly work with a Python library called Pandas. Pandas is a powerful library that allows us to manipulate data. In order to use Pandas, you first have to import it.

In [1]:
import pandas as pd

## Step 2: Loading and Exporing the Data

You can use Pandas to explore and manipulate the _results.csv_ file.
You first have to load the csv file into a Pandas dataframe, so you can then analyize the data.

When using `pd.read_csv()`, make sure you inlcude the correct path to the csv file, depending on where you saved it when you downloaded it.

In [2]:
# First: Load the csv file into a Pandas dataframe (df)

df = pd.read_csv("/content/results.csv")

In [3]:
# Explore the df

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

## Step 3: Data Analysis

### Q1: What is the average number of goals for the home team?

Hint: You can call the `mean()` method on the _'home_score'_ column.

In [4]:
home_score_mean = df['home_score'].mean()
print(f"Mean of home score: {home_score_mean}")

Mean of home score: 1.7393136930376256

### Q2: What is the average number of goals for the away team?

Hint: You can call the `mean()` method on the _'away_score'_ column.

In [5]:
away_score_mean = df['away_score'].mean()
print(f"Mean of away team: {away_score_mean}")

Mean of away team: 1.1782412004854905

### Q3: What is the country with the highest overall home score?

Hint: You will need to group the data by country, then get the sum of home scores for each country. You can use the `idxmax()` function to find the index(country) with the highest sum.

In [6]:
home_score_by_country = df.groupby('country')['home_score'].sum()

highest_country = home_score_by_country.idxmax()

print(f"Country with highest home score: {highest_country}")

Country with highest home score: United States

### Q4: What are the top 3 type of tournaments?

Hint: You can use the `value_counts()` method to count the occurences of each unique value in the _'tournament'_ column.

In [7]:
tournament_count = df['tournament'].value_counts()

print(f"Tournament count: {tournament_count}")

Tournament count: Friendly                                17773
FIFA World Cup qualification             8016
UEFA Euro qualification                  2815
African Cup of Nations qualification     1998
FIFA World Cup                            964
                                        ...
Copa Confraternidad                         1
FIFA 75th Anniversary Cup                   1
Real Madrid 75th Anniversary Cup            1
Évence Coppée Trophy                        1
The Other Final                             1
Name: tournament, Length: 147, dtype: int64

In [9]:
top_three = tournament_count.head(3)

print(f"Top 3 tournaments: {top_three}")

Top 3 tournaments: Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: tournament, dtype: int64

### Q5: Which country has the highest overall FIFA World Cup goals?

To answer this question, consider breaking down your solution into 3 steps.

**5.1 Create a new dataframe (fifa_df) that only contains rows where the "tournament" column == 'FIFA World Cup'.**

In [10]:
FIFA_df = df[df['tournament'] == 'FIFA World Cup']

print(f"FIFA df: {FIFA_df}")

FIFA df:              date  home_team      away_team  home_score  away_score  \
1311   1930-07-13    Belgium  United States           0           3
1312   1930-07-13     France         Mexico           4           1
1313   1930-07-14     Brazil     Yugoslavia           1           2
1314   1930-07-14       Peru        Romania           1           3
1315   1930-07-15  Argentina         France           1           0
...           ...        ...            ...         ...         ...
44349  2022-12-10    England         France           1           2
44351  2022-12-13  Argentina        Croatia           3           0
44352  2022-12-14     France        Morocco           2           0
44356  2022-12-17    Croatia        Morocco           2           1
44358  2022-12-18  Argentina         France           3           3

           tournament        city  country  neutral
1311   FIFA World Cup  Montevideo  Uruguay     True
1312   FIFA World Cup  Montevideo  Uruguay     True
1313   FIFA World Cup  Montevideo  Uruguay     True
1314   FIFA World Cup  Montevideo  Uruguay     True
1315   FIFA World Cup  Montevideo  Uruguay     True
...               ...         ...      ...      ...
44349  FIFA World Cup     Al Khor    Qatar     True
44351  FIFA World Cup      Lusail    Qatar     True
44352  FIFA World Cup     Al Khor    Qatar     True
44356  FIFA World Cup   Al Rayyan    Qatar     True
44358  FIFA World Cup      Lusail    Qatar     True

[964 rows x 9 columns]

**5.2 In your new fifa_df, create a new _'total_score'_ column that sums _'home_score'_ + _'away_score'_ for each row.**

PS. If you get a "SettingWithCopyWarning", please ignore it.

In [11]:
FIFA_df['total_score'] = FIFA_df['home_score'] + FIFA_df['away_score']

print(f"FIFA df: {FIFA_df}")

FIFA df:              date  home_team      away_team  home_score  away_score  \
1311   1930-07-13    Belgium  United States           0           3
1312   1930-07-13     France         Mexico           4           1
1313   1930-07-14     Brazil     Yugoslavia           1           2
1314   1930-07-14       Peru        Romania           1           3
1315   1930-07-15  Argentina         France           1           0
...           ...        ...            ...         ...         ...
44349  2022-12-10    England         France           1           2
44351  2022-12-13  Argentina        Croatia           3           0
44352  2022-12-14     France        Morocco           2           0
44356  2022-12-17    Croatia        Morocco           2           1
44358  2022-12-18  Argentina         France           3           3

           tournament        city  country  neutral  total_score
1311   FIFA World Cup  Montevideo  Uruguay     True            3
1312   FIFA World Cup  Montevideo  Uruguay     True            5
1313   FIFA World Cup  Montevideo  Uruguay     True            3
1314   FIFA World Cup  Montevideo  Uruguay     True            4
1315   FIFA World Cup  Montevideo  Uruguay     True            1
...               ...         ...      ...      ...          ...
44349  FIFA World Cup     Al Khor    Qatar     True            3
44351  FIFA World Cup      Lusail    Qatar     True            3
44352  FIFA World Cup     Al Khor    Qatar     True            2
44356  FIFA World Cup   Al Rayyan    Qatar     True            3
44358  FIFA World Cup      Lusail    Qatar     True            6

[964 rows x 10 columns]

<ipython-input-11-8b11449ef3d5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FIFA_df['total_score'] = FIFA_df['home_score'] + FIFA_df['away_score']

**5.3 Group your data by country, then get the sum of the _'total_score'_ column. From there, you can use `idxmax()` to find the country with the highest _'total_score'_.**

In [12]:
FIFA_df_by_country = FIFA_df.groupby('country')

print(f"FIFA_df by country: {FIFA_df_by_country}")

FIFA_df by country: <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7cd6be4fbb80>

In [13]:
total_score_by_country = FIFA_df.groupby('country')['total_score'].sum()

print(f"Total score by country: {total_score_by_country}")

Total score by country: country
Argentina        102
Brazil           259
Chile             89
England           89
France           255
Germany          244
Italy            185
Japan             71
Mexico           227
Qatar            172
Russia           169
South Africa     145
South Korea       90
Spain            146
Sweden           126
Switzerland      140
United States    141
Uruguay           70
Name: total_score, dtype: int64

In [14]:
highest_country = total_score_by_country.idxmax()
print(f"Country with highest home score: {highest_country}")

Country with highest home score: Brazil